{% extends 'base_static.html' %}
{#{% block header_navbar %}{% endblock %}#}


{% block extra_script %}
<script>
        $(function () {
            $(".main_left li").on("click", function () {
                var address = $(this).attr("data-src");
                $("iframe").attr("src", address);
            });
        });
    </script>
<script>
        function changeFrameHeight() {
            var ifm = document.getElementById("show");
            ifm.height = document.documentElement.clientHeight - 56;
        }

        window.onresize = function () {
            changeFrameHeight();
        }
        $(function () {
            changeFrameHeight();
        });
    </script>
{% endblock %}

{% block body %}

<!-- 左侧导航栏 -->
<div class="navbar  navbar-static-top" role="navigation"></div>
<div class="container-fluid page-body main_left">
    <div class="col-md-3" role="main">
        <ul id="main-nav" class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="#collapseOne" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-th-list"></i> 协议规范
                    {#                    <span class="pull-right glyphicon glyphicon-th-list"></span>#}
                </a>
                <ul id="collapseOne" class="nav nav-list collapse levelmenu in">
                    <li><a href="#collapseTwo" class="nav-header collapsed" data-toggle="collapse">
                        <i class="glyphicon glyphicon-book"></i> T模块
                        <span class="pull-right glyphicon glyphicon-triangle-bottom"></span>
                    </a>
                        <ul id="collapseTwo" class="nav nav-list collapse levelmenu">
                            <li data-src="/blog/protocol/standardetail/2">
                                <a class="glyphicon glyphicon-leaf"> 移动商城</a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#collapseThree" class="nav-header collapsed" data-toggle="collapse">
                        <i class="glyphicon glyphicon-book"></i> R模块
                        <span class="pull-right glyphicon glyphicon-triangle-bottom"></span>
                    </a>
                        <ul id="collapseThree" class="nav nav-list collapse levelmenu">
                            <li data-src="/blog/protocol/standardetail/2">
                                <a class="glyphicon glyphicon-leaf"> 手机动漫</a>
                            </li>
                            <li data-src="/blog/protocol/standardetail/2">
                                <a class="glyphicon glyphicon-leaf"> 手机咪咕</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- 右侧内容 -->
    <div class="col-md-9" role="complementary" style="margin-bottom: 10px">
        <iframe frameborder="0" scrolling="auto" style="width:102%" src="" id="show"></iframe>
    </div>
{% endblock %}