<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>接口渠道资料库</title>
    <!-- Bootstrap3.3.7 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" crossorigin="anonymous">
    <!-- Bootstrap3.3.7 核心 JavaScript 文件 -->
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>

<div class="container page-header">
    <h3 align="center" style="margin-top: -12px">{{ curr_article.title }}</h3>
</div>
<div class="container body-main">
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            {% for section in section_list %}
                <p>{{ section|safe }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div>
    <nav aria-label="...">
        <ul class="pager">
            <li><a href="/blog/detail/{{ previous_article.article_id }}">上一篇：{{ previous_article.title }}</a></li>
            <li><a href="/blog/detail/{{ next_article.article_id }}">下一篇：{{ next_article.title }}</a></li>
        </ul>
    </nav>
</div>
</body>
</html>